{% extends "layout/base.twig" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Zinobe - Login</title>

<script src="../public/dist/css/login.css"></script>

{% endblock head %}

{% block content %}
    <div class="row mt-5">
        <div class="col-12 col-md-6 mx-auto">
            <form id="login-form" novalidate onsubmit="javascript:void(0)" autocomplete="off">
                <div class="form-row">
                    <div class="col-12">
                        <label for="username">Username</label>
                        <input type="email" class="form-control" name="username" id="username" required>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12">
                        <a href="/register">Crear Usuario</a>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-12">
                        <button id="btn-login-submit" type="button" class="btn btn-primary" style="height: 41px;">
                            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            <strong class="mx-auto" style="letter-spacing: 0.5px;">Login</strong>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="../public/dist/js/login.js"></script>
{% endblock scripts %}
